:root {
  --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--font);
  background: url("media/background.png");
  margin: 0;
  color: #212529;
}

button, input[type="submit"] {
  color: inherit;
  font-family: var(--font);
}

/* Navbar */

#site-header {
  width: 100%;
  position: sticky;
  top: 0;
  background: rgb(255, 221, 221);
  line-height: 3em;
}

nav ul {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style: none;
}
nav li:not(:last-child)::after {
  content: "•";
  margin: 0 1em;
}

main {
  max-width: 40em;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: rgb(102, 10, 10);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.3);
}

h2 {
  margin-top: 0;
}

.single-line-center {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

section {
  margin-bottom: 2em;
}

.icon {
  height: 1.5em;
}

/* Footer */
footer {
  width: 100%;
  background-color: #ffdddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}
footer .brand {
  display: flex;
  align-items: center;
  gap: 2em;
}
footer .meta {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
footer p {
  margin: 0;
}
footer img {
  height: 3em;
}
