img {
  max-height: 30em;
  max-width: 100%;
}

.gallery-item {
  list-style: none;
  text-align: center;
}
.gallery-item:not(:last-child) {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid white;
}

.gallery-text {
  font-style: italic;
}